body {
  margin: 0px;
}

.outerBox {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6), 0px 2px 10px rgba(0, 0, 0, 0.6);
}

.custom-navbar {
  background-color: #fff;
  color: #474747;
  box-shadow: 0 0 0 transparent;
}

.cagegories {
  padding: 10px;
  background-color: transparent;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  background-color: white;
}

.holder {
  padding: min(40px, 5%);
  margin: 5px;
  /* background-color: transparent; */
  background-color: aqua;
}

.product {
  padding: min(5%);
  /* background-color: aqua; */
}

.image{
    position:relative;
}

.image::after{
  content: url();
  display: block;
  padding-bottom: 100%;
}

.image img{
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product button {
  height: "20px";
  font-size: clamp(14px, 4vw, 22px);
  min-height: 30px;
  width: 100%;
}

.product p {
  text-align: center;
  font-size: clamp(14px, 4vw, 22px);
}
